<div>
  <h1>Profile</h1>
  <img src="<%= viewData.avatar %>" alt="Avatar" crossorigin="true">
  <p><b>GitLab ID</b><br><%= viewData.id %></p>
  <p><b>Username</b><br><%= viewData.username %></p>
  <p><b>Name</b><br><%= viewData.name %></p>
  <p><b>Email</b><br><%= viewData.email %></p>
  <p><b>Last activity</b><br><%= viewData.last_activity_on %></p>
</div>